[req]
 distinguished_name = req_distinguished_name
 req_extensions = v3_req
 prompt = no

[req_distinguished_name]
 C = CO
 ST = Cundinamarca
 L = Bogota
 O = Scotiabank Colpatria S.A.
 OU = Scotiabank Colpatria S.A.
 CN = COCPDPOWERRADEV
  
[v3_req]
 keyUsage = keyEncipherment, dataEncipherment, nonRepudiation, digitalSignature
 extendedKeyUsage = serverAuth
 subjectAltName =   @alt_names
 extendedKeyUsage = serverAuth,clientAuth

[alt_names]
DNS.1 = COCPDPOWERRADEV
