
#quick-search-query::-webkit-input-placeholder{color:rgb(255,255,255,0.6) !important;}
#quick-search-query:-moz-placeholder{color:rgb(255,255,255,0.6) !important;}
#quick-search-query::-moz-placeholder{color:rgb(255,255,255,0.6) !important;}
#quick-search-query:-ms-input-placeholder{color:rgb(255,255,255,0.6) !important;}


